<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="padding: 64px 248px">

<span style="display: flex; justify-content: space-between; padding-bottom: 12px; border-bottom: 1px solid">
    თბილისი
    <span>05,01,2022 </span>
</span>
<h2 style="text-align: center; font-weight: normal">მიღება ჩაბარება </h2>
<h4 style="font-weight: normal; font-size: 18px">
    ერთის მხრივ, ი/მ სოფია გაბუნია ს/6 312762604, მისამართი: საქართველო, ქ. თბილისი,
    მ.ლომონოსოვის ქ., N 2, ბ. 5, შემდეგში: „დამკვეთი“,
</h4>
    <h4 style="font-weight: normal">და</h4>
    <h4  style="font-weight: normal; font-size: 18px; text-align: right">
        მეორეს მხრივ, შპს სიო დელივერი ს/კ 402174927,
        ტელ. 577058610, ელ. ფოსტა archil@buk.ge,
        წარმოდგენილი მისი დირექტორის ნუგრაზი სხულუხია მიერ,
        შემდეგში: „შემსრულებელი“.
    </h4>
    <h4  style="font-weight: normal; font-size: 18px;">
        ვადგენთ მიღება ჩაბარების აქტს მასზედ,
        რომ დანართი N1-ის თანახმად 2021 წლის 1 დეკემბრიდან 2021 წლის 31
        დეკემბრის ჩათვლით მომსახურების ღირებულება განისაზღვრა 889 ლარით.

    </h4>


<h4  style="font-weight: normal; font-size: 18px">
    აქტი სწორია და ვადასტურებთ ხელმოწერით.
</h4>

<div style="display: flex; padding: 24px 84px; justify-content: space-between; text-align: center">
    <div style="display: flex; flex-direction: column; grid-gap: 12px; border-bottom: 1px solid; padding-bottom: 48px">
        <span>(1) დამკვეთი</span>
        <span>სოფია გაბუნია</span>
    </div>
    <div style="display: grid;grid-gap: 12px;  border-bottom: 1px solid; padding-bottom: 48px">
        <span>(2) შემსრულებელი</span>
        <span>შპს სიო დელივერი</span>
        <span>ს/კ 402174927</span>
        <span>ნუგზარი სხულუხია</span>
    </div>
</div>


</body>
</html>
