<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div style="padding: 64px;background: rgb(244,244,244);">
<h1>პაროლის აღდგენა
</h1>
<h2>პაროლის აღსადგენად დააჭირეთ ხელი ქვემოთ მოცემულ ღილაკს, თუ თქვენ არ გიცდიათ პაროლის აღდგენა არ მიაქციოთ ყურადღება.</h2>

<div style="
    display: flex;
    align-items: center;
    justify-content: center;
"><a href="https://arteria.ge" target="_blank" style="
text-decoration: none;
    background: blue;
    padding: 12px 24px;
    border-radius: 8px;
    margin-top: 36px;
    /* display: flex; */
    color: white;
    font-weight: 500;
    /* font-size: 14px; */
    ">პაროლის აღდგენა</a></div>
<h3 style="
    font-size: 11px;
    padding-top: 24px;
">P.S. თუ განახლება თქვენ არ მოგითხოვიათ ჩვენი რჩევაა მოგვმართოთ support@arteria.ge მეილ მისამართზე</h3>




</div>
</body>
</html>